//$color-primary: rgb(41, 130, 217) !default;
$primary-blue: #006dff;
$primary-green: #15b34e;
$primary-blue-grey: #142b43;
$primary-white: #ffffff;
$secondary-yellow: #ffab00;
$secondary-red: #ff5630;
$secondary-blue: #00bbd9;
$secondary-iris: #6554c0;
$neutrals-blue-grey: #8995a1;
$neutrals-pale-sky-blue: #dadfe2;
$neutrals-very-light-blue: #e7eaec;
$neutrals-slice-blue: #e6f0ff;
$gradient-right-blue: #00acfa;

$tertiary-red: #ff3500;
$bricked-red: #7f2a17;
$cloudy-blue: #b8bfc6;
